body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  line-height: 1.2;
}

.container {
  display: grid;
  grid-template-rows: 250px 250px 100px;
}


.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.hide{
  display: none;
}

button{
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  color: #011F3F;
  background-color: #FEF2BF;
  border: 10px solid black;
  border-radius: 1px;
  padding: 3% 5%;
  margin: 10% 0;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 600px){
  .container{
    display: grid;
    grid-template-rows: 40% 40% auto;
    justify-content: center;
  }

  .row{
    display: inline-flex;
  }
  
  .btn {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 10px;
  }

  #level-title{
    font-size: 2.5rem;
  }

  button{
    margin: 5% 0;
  }
}